body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background-image: url("images/seanDev.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -10vh;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -10vh;
  background-color: transparent;
  z-index: 0;

}
.bgimg-1 {
  background-color: transparent;
  height: 400px;
}

.bgimg-2 {
  background-color: transparent;
  min-height: 200px;
}

.bgimg-3 {
  background-color: transparent;
  min-height: 50px;
}

.bgimg-4 {
  background-color: transparent;
  height: 5vh;
}


.caption {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 1;
}

.projects {
  display: block;
  padding: 5px 8px 1px;
  margin: -10px auto;
  width: 250px;
  font-size:25px;
  color: #f7f7f7;
  background-color: #0a0a0a;
  border-radius: 3px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px 'Abel', sans-serif;
  color: #111;
}

.myProjects h3 {
  color: white;
  text-align: center;
}

.myProjects {
  margin-bottom: 10px !important;
  padding: .5vh 0;
}

.frameworks {
  display: inline;
  text-align: center;
  color: white;
  text-align: justify;
}

footer {
  background-color: rgba(10, 10, 10, 0.94);
  text-align: center;
  color: white;
  margin: 0;
  bottom: 0;
}

.avatar {
  margin: auto;
  text-align: center;
  height: 200px;
}

.avatar > img {
  margin: auto;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 2px solid rgba(10, 10, 10, 0.31);
}

p {
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 500px;
  padding: 4vh 5vh;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: #f9f8f8;
  background-color: rgba(10, 10, 10, 0.94);
  text-align: justify;
  font-family: 'Abel', sans-serif;
}

.bio-container {
  color: #777;
  background-color:white;
  text-align:center;
  padding:3vh 2vh;
  text-align: justify;
  width: 550px;
  margin: auto;
}

.frameworks-container {
  width: 350px;
  border-radius: 4px;
  margin: auto;
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:60px 90px;
  position: relative;
}

.repoLink {
  border: 2px solid  #353837 !important;
  color: #353837 !important;
  background-color: white !important ;
}

.projectLink {
  border: 2px solid #353837;
  background-color: #353837;
  color: white;
  margin-left: 20px;
}

.projectLink, .repoLink {
  min-width: 100px;
  width: auto;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 8px;
  margin-top: 20px;
}

.projectLink:hover {
  cursor: pointer;
  color: white;
  background-color: #292b2a;
  border: 2px solid #7a8682;
}

.repoLink:hover {
  cursor: pointer;
  color: white !important;
  background-color: #292b2a !important;
  border: 2px solid #7a8682 !important;
}

@media screen and (max-width: 600px) {
  .bio-container, .container{
    width: -webkit-fill-available;
    max-width: 95%;
  }

  .frameworks-container {
    width: min-content;
    padding: 20px 30px;
  }

  .projects {
    width: 250px;
  }

  .bt-pic, .ffr-pic, .amMan-pic {
    width: 100%;
    opacity: .9;
    max-width: 700px;
    display: block;
    overflow: hidden;
    margin: auto;
  }

  .near-footer {
    height: 250px;
  }

  .background-pic, .amMan-pic {
    width: 100%;
    height: 35vh;
    transition: 8s;
    background-position: center 0;
    background-size: cover;
  }

  .bt-pic {
    background-image: url('images/BTprofile1.png');
  }

  .amMan-pic {
    background-position: -1% 0;
    background-image: url('images/amMan1.png');
    height: 35vh;
  }

  .ffr-pic {
    background-image: url('images/FFR1.png');
    z-index: 99;
  }

  .ffd-pic {
    background-image: url('images/ffd.png');
    height: auto;
  }

  p {
    font-size: 12px;
  }

}

@media screen and (min-width: 600px ){


  .bt-pic, .ffr-pic, .amMan-pic {
    width: 100%;
    opacity: .9;
    max-width: 700px;
    display: block;
    overflow: hidden;
    margin: auto;
  }

  .background-pic {
    width: 100%;
    height: 35vh;
    transition: 8s;
    background-position: center 0;
  }

  .bt-pic {
    background-image: url('images/BTprofile.png');
  }

  .amMan-pic {
    background-image: url('images/amMan.png');
    width: 100%;
    height: 40vh;
    transition: 8s;
    background-position: 0 0;
  }

  .ffr-pic {
    background-image: url('images/ffr.png');
  }

  .amMan-pic:hover {
    background-position: 90% 100%;
  }
  .background-pic:hover{
    background-position: center 90%;
    transform: scale(.95);
  }

}
